[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
probe = "python probe.py https://mith.umd.edu/research/"
probe-repeat = "python probe.py --repeat 2 --sleep 10 https://mith.umd.edu/research/"
